<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1">
        <h2>Admin</h2>
        <a href="/create">Create Page</a>
        <a href="/edit">Edit</a>
        <p>delete page</p>
        <a href="/logout">Logout</a>
      </div>
    </div>
  </div>
</div>