<div id="home">
  <div class="container">
    <div class="row">
      <div>
        <h2>becoskie admin</h2>
        <a href="/create">Create Page</a>
        <a href="/edit">Edit</a>
        <p>delete page</p>
        <a href="/logout">Logout</a>
      </div>
    </div>
  </div>
</div>