<div id="create">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1">
        <h2>create page</h2>
        <a href="/admin">Admin</a>
      </div>
    </div>
  </div>
</div>