
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Ray Becoskie</h1>
    <h2>Portfolio</h2>
    <!-- <p class="lead fontTwo">Game-Finder is a place to create a </p> -->
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <h6 class="card-subtitle mb-2 text-muted">If you already have an account!</h6>
          <a href="/signin" class="btn btn-primary">Log in</a>
        </div>
      </div>
    </div>
    