<div class=" launch container">
    <section>
        <div>
            <h1 class="jumbotron-heading" id="launch_heading">{{project.title}}</h1>
            <p class="lead text-muted" id="launch_short">{{project.shortDesc}}</p>
        </div>
    </section>
    <div class="row">
        <div class="container col-12 mb-4">
            <img id="launch_img" src="assets/images/ken.jpg">
        </div>
    </div>
    <div class="row">
        <div class="container col-sm-1"></div>
        <div class="container col-sm-3" id="build_contain">
            <p id="build_head">build</p>
            <div></div>
        </div>
        <div class="container col-sm-7">
            <p id="long_launch"></p>
        </div>
        <div class="container col-sm-1"></div>
    </div>
</div>