@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,900|Source+Serif+Pro');
:root {
  /* --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #868e96;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; 
  */
  --font-family-sans-serif:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Nunito+Sans", "Anton", Arial, "Lucida Grande", sans-serif;
  --font-family-serif: "Source+Serif+Pro", serif;
  --font-family-text: var(--font-family-serif);
  --gray: #7d7d7d;
  --gray-dark: #2C3A47;
  --color-text: var(--gray-dark);
}
.family-sans {
  font-family: var(--font-family-sans-serif);
}
body {
  font-family: var(--font-family-sans-serif);
  font-weight: 200;
  color: var(--color-text);
  position: relative;
}

a {
  color: var(--gray);
}
a:hover{
  color: var(--color-text);
}

img {
  max-width: 100%;
}

.error {
  font-size: .8em;
  color:#ff5e57;
  font-style: italic;
}

/* site header */
.site-header {
  background: url(../images/assets/home.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  margin-bottom: 12rem;
}

.site-header .jumbotron, .project-header .jumbotron {
  min-height: 50vh;
  background: transparent;
}
#intro {
  margin-top:
  5rem;
}


/* page-section */

.page-section-title {
  font-size: 2.5em;
  font-family: var(--font-family-title);
  color: var(--gray);
  line-height: 100%;
  padding-bottom: .5em;
  margin-top: -0.2em;
}

.page-section-text {
  margin-bottom: 2em !important;
}

.vertical-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.layout-multicolumn .project {
  transition: all 300ms ease-in-out;
}

.layout-multicolumn .project:hover {
  transform: scale(1.0625) translateY(-2px);
}

.layout-multicolumn .project {
  transition: all 300ms ease-in-out;
}

.layout-multicolumn .layout-title {
  font-size: 1em;
}

.layout-social {
  font-size: 2em;
}

.project_git {
  font-size: 1.75em;
  padding-left: .5rem;
}

.project_brand {
  font-size: 2.125em;
}

.project_img {
  margin-top: 75px;
}

#launch_short {
  font-size: 1.25em;
  padding:1em 0 2rem 0;
}
.launch_build {
  padding-left: 30px;
}
.launch_long {
  padding: 0px 8rem;
}
#build {
  font-weight: bold;
}
#build_items {
  font-size:.9rem;
}



@media (max-width: 767px) {
  .navbar-toggler {
    border: none;
    outline: none;
  }
}

#long_desc, #edit_long_desc {
  white-space: pre-wrap;
}

